@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
}
/* header styling */
header {
  display: flex;
  padding: 1.5rem;
  align-items: center;
  background-color: rgb(115, 222, 210);
  height: 80px;
}
.bars,
.share,
.square {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bars:hover,
.share:hover,
.square:hover {
    background-color: rgb(185, 251, 243);
}

header .share {
  margin-left: auto;
}
header i,
header span {
  font-size: 1.5rem;
}
header .square {
  margin-left: 1.3rem;
}

.text-section {
  background-color: rgb(115, 222, 210);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 0.5rem 0.5rem;
}

.peter-box a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}
.peter-box h1 {
  display: inline;
  margin-left: 0.75rem;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
/* text div */
.text-section .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2.3rem;
  font-weight: bold;
  color: rgba(10, 65, 67, 0.76);
}

/* side bar */
.sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  width: 250px;
  height: 100vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3); /* Add shadow to the right side */
  transition: left 0.3s ease;
}
.sidebar.show {
  left: 0;
}

.top-conatinner {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  background-color: rgb(115, 222, 210);
  padding: 2rem 1rem;
}
.bottom-containner {
  padding: 1.5rem 0.5rem;
  background-color: white;
  height: 100%;
}

.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  gap: 1rem;
}
.sidebar-icons {
  width: 10rem;
  height: 2rem;
  border: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
  background-color: white;
  border-radius: 0.5rem;
  padding-left: 1rem;
  cursor: pointer;
}
.sidebar-icons:hover {
  background-color: rgb(225, 219, 219);
}
.sidebar a {
  display: flex;
  gap: 1.5rem;
  text-decoration: none;
  color: black;
}
.sidebar-text{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  #sidebar-text{
    color: rgba(10, 65, 67, 0.76);
    font-weight: bold;
  }
/* main  conatinner styling starting here */
.conatiner {
  min-height: calc(100vh - 80px);
  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
 

}
.conatiner .instructions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 5px 10px rgb(0, 0, 0, 0.1);
  border-radius:0.5rem 0.5rem;
  padding:2rem;
  color: rgba(10, 65, 67, 0.76);
}
i,
span {
  color: black;
}

